/node_modules
/vendor/
/src/vendor/

/src/storage/*
!src/storage/.gitignore

/public/storage
/src/public/storage

.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode
.cache/

docker/mysql/data/