/vendor/
/node_modules/

/src/vendor/

/src/storage/**
!/src/storage/framework/
!/src/storage/framework/cache/
!/src/storage/framework/sessions/
!/src/storage/framework/views/
!/src/storage/framework/cache/.gitkeep
!/src/storage/framework/sessions/.gitkeep
!/src/storage/framework/views/.gitkeep

!/src/storage/logs/
!/src/storage/logs/.gitkeep

/src/public/storage

/src/.env
/src/.phpunit.result.cache
docker-compose.override.yml
npm-debug.log
yarn-error.log

/.idea
/.vscode
.cache/
docker/mysql/data/